<a class="addClient" href="/addRieltor">Добавить нового риелтора</a>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Отчество</th>
      <th scope="col">Комиссия</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>

  <tbody>
    {{#each rows}}
    <tr>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.patronymic}}</td>
      <td>{{this.comission}}</td>
      <td>
        <a href="/editRieltorView/{{this.id}}" type="button">Изменить</a>
        <form class="row g-3 needs-validation" method="POST" action="/deleteRieltorAction/{{this.id}}" novalidate>
            <button class="noButton" type="submit">Удаление</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>